{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">
$(function() {
	$('#btnEdit').click(function() {
		location.href = "{{ url_for('edit_portal', id=portal.id ) }}";
	});

	$("a[name=addressAnchor]").click(function() {
		var address = $(this).text();
		goToTab('map');
		initialize(address);
	})

	$('.map-tab').click(function() {
		initialize();
	})

	$('.rating-button').click(function() {
		$( this ).toggleClass("mdl-button--colored")
		$( this ).siblings('button').removeClass("mdl-button--colored")
		tableAction({clientId: {{portal.id}}, propId: $(this).closest('tr').find("input[name=propId]").val(), like: (($(this).hasClass('like-button')) ? '1' : (($(this).hasClass('dislike-button')) ? '0' : 'none'))});
	});
	$('.request-checkbox').click(function() {
		$( this ).toggleClass("hidden");
		$( this ).siblings('button').toggleClass("hidden");
		tableAction({clientId: {{portal.id}}, propId: $(this).closest('tr').find("input[name=propId]").val(), request: (($(this).hasClass('checked')) ? 0 : 1)});
	});
	$('.comment-box').change(function() {
		tableAction({clientId: {{portal.id}}, propId: $(this).closest('tr').find("input[name=propId]").val(), comment: $(this).val()});
	});
});

function tableAction(data) {
	$.ajax({
		method: "POST",
		url: "{{ url_for('table_ajax') }}",	
		data: JSON.stringify(data, null, '\t'),
        contentType: 'application/json;charset=UTF-8',
        success: function(result) {
            console.log(result);
        }
	})
	.done(function(msg) {
		//alert("Data Sent: " + msg);
	})
	.fail(function( jqXHR, textStatus ) {
		//alert( "Request failed: " + textStatus );
	});
}

function initialize(address) {
	var geocoder = new google.maps.Geocoder();
	var mapCanvas = document.getElementById('map');
	var mapOptions = {
		center: new google.maps.LatLng(44.5403, -78.5463),
		zoom: 18,
		mapTypeControl: true,
		mapTypeControlOptions: {
			style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
		},
		navigationControl: true,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	}
	var map = new google.maps.Map(mapCanvas, mapOptions);
	if(geocoder) {
		geocoder.geocode({
			'address': address
		}, function (results, status) {
			if(status == google.maps.GeocoderStatus.OK) {
				if(status != google.maps.GeocoderStatus.ZERO_RESULTS) {
					map.setCenter(results[0].geometry.location);

					var infowindow = new google.maps.InfoWindow({
						content: '<b>'+address+'</b>',
						size: new google.maps.Size(150, 50)
					});

					var marker = new google.maps.Marker({
						position: results[0].geometry.location,
						map: map,
						title: address
					});

					google.maps.event.addListener(marker, 'click', function() {
						infowindow.open(map, marker);
					});
				} else {
					alert("No results found!");
				}
			} else {
				alert("Geocode failed because "+status);
			}
		});
	}
	setTimeout(function () {
		google.maps.event.trigger(map, 'resize');
		map.setCenter(mapOptions.center);
	}, 100);
}
</script>
<style type="text/css">
.profile-card-wide > .mdl-card__banner {
	color: #fff;
	height: 300px;
	background: url('/static/Images/{{portal.imgFilename}}') center / cover;
}
td > img {
	max-width: 100%;
}
.mdl-data-table td {
	text-align: left;
}
#map {
	width: auto; /*500px;*/
	height: 400px;
	overflow: hidden;
	max-width:none;
	/*background-color: #CCC;*/
}
#map img {
    max-width: none !important;
    max-height: none !important;
}
</style>
	<div class="mdl-gird">
		<div class="mdl-cell mdl-cell--2-col" style="float:left"></div>
		<div class="profile-card-wide mdl-card mdl-cell mdl-cell--8-col mdl-shadow--2dp">
			<div class="mdl-card__banner"></div>
			<div class="mdl-card__title">
				<h6 class="mdl-card__title-text">{{ portal.name }}</h6>
			</div>
			<div class="mdl-card__supporting-text">
				<fieldset>
					<ol class="portal-details">
						<li>
							<label>Contact Name</label>
							<b>{{ portal["firstName"]+' '+portal["lastName"] }}</b>
						</li>
						<li>
							<label>Address</label>
							<b>{{ portal["address"] }}</b>
						</li>
						{% if portal["phone"] %}
						<li>
							<label>Phone</label>
							<b>{{ portal["phone"] }}</b>
						</li>
						{% endif %}
						<li>
							<label>Email</label>
							<b>{{ portal["email"] }}</b>
						</li>
					</ol>
				</fieldset>
			</div>
			<div class="mdl-card announcement-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
				<div class="mdl-card__title"><h1 class="mdl-card__title-text">Announcements</h1></div>
				<div class="mdl-card__supporting-text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet eros ac ligula venenatis porttitor. Praesent varius erat non sapien ultrices placerat. Etiam dapibus erat felis, non mollis velit gravida vitae. Nulla dictum metus ante, vitae varius lorem vehicula vel. Duis ultrices iaculis ligula, et facilisis turpis iaculis porttitor. Sed fringilla volutpat augue a molestie. Quisque feugiat enim eu eleifend consectetur. Nam posuere ipsum volutpat erat viverra elementum. Donec at varius ipsum.
				</div>
			</div>
			<div class="mdl-card listings-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
				<div class="mdl-card__title"><h1 class="mdl-card__title-text">Properties</h1></div>
				<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
					<div class="mdl-tabs__tab-bar">
						<a href="#listings-panel" class="mdl-tabs__tab is-active" id="listings-tab">Listings</a>
						<a href="#map-panel" class="mdl-tabs__tab map-tab" id="map-tab">Map View</a>
						<a href="#compare-panel" class="mdl-tabs__tab" id="compare-tab">Compare Selections</a>
					</div>

					<div class="mdl-tabs__panel is-active" id="listings-panel">
						<table class="mdl-data-table mdl-js-data-table mdl-cell mdl-cell--12-col" style="table-layout: fixed;">
							<thead>
								<tr>
									<th class="mdl-data-table__cell--non-numeric" align="center">Property</th>
									<th class="mdl-data-table__cell--non-numeric" align=center>Address</th>
									<th class="mdl-data-table__cell--non-numeric">Description</th>
									<th class="mdl-data-table__cell--non-numeric">Comments</th>
									<th class="mdl-data-table__cell--non-numeric">Rating</th>
									<th class="mdl-data-table__cell--non-numeric">Request Showing</th>
								</tr>
							</thead>
							<tbody>
								{% for prop in properties %}
									{% for propval in propvals %}
										{% if propval["propertyId"] == prop["id"] %}
											<tr>
												<td class="hidden-field">
													<div class="mdl-card__media">
														<img src={{ prop["imagepath"] }} alt="" width="100%" height="auto"/>
													</div>
													<input type="hidden" name="propId" value={{ prop["id"] }}>
												</td>
												<td style="word-wrap: break-all;white-space:normal;">
													<div class="mdl-card__supporting-text">
														<a href="#" name="addressAnchor">{{ prop["address"] }}</a>
													</div>
												</td>
												<td style="word-wrap: break-all;white-space:normal;">
													<div class="mdl-card__supporting-text">
														{{ prop["description"] }}
													</div>
												</td>
												<td>
													<div class="mdl-textfield mdl-js-textfield">
														<textarea class="mdl-textfield__input comment-box" type="text" rows= "3" id="comment" >{{ propval["comment"] }}</textarea>
													</div>
												</td>
												<td>
													<!-- Colored icon button -->
													<button class="rating-button like-button mdl-button mdl-js-button mdl-button--icon {% if propval["rating"] == 1 %} mdl-button--colored {% endif %}">
														<i class="material-icons">thumb_up</i>
													</button>
													<button class="rating-button dislike-button mdl-button mdl-js-button mdl-button--icon {% if propval["rating"] == 0 %} mdl-button--colored {% endif %}">
														<i class="material-icons">thumb_down</i>
													</button>
												</td>
												<td style="text-align:center">
													<button class="request-checkbox unchecked mdl-button mdl-js-button mdl-button--icon mdl-button--colored {% if propval["showing"] == 1 %} hidden {% endif %}">
														<i class="material-icons">check_box_outline_blank</i>
													</button>
													<button class="request-checkbox checked mdl-button mdl-js-button mdl-button--icon mdl-button--colored {% if propval["showing"] == 0 %} hidden {% endif %}">
														<i class="material-icons">check_box</i>
													</button>
												</td>
											</tr>
										{% endif %}
									{% endfor %}
								{% else %}
								<em>Unbelievable.  No properties here so far</em>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<div class="mdl-tabs__panel" id="map-panel">
						<div id="map"></div>
					</div>
					<div class="mdl-tabs__panel" id="compare-panel">
					</div>
				</div>
			</div>
			{% if session.logged_in %}
			<div class="mdl-card__menu">
				<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" id="btnEdit">
					<i class="material-icons">edit</i>
				</button>
			</div>
			<div class="mdl-card__actions mdl-card--border">
				<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ url_for('show_portals') }}">Back</a>
				<a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored right" id="btnEdit2" href="{{ url_for('edit_portal', id=portal.id ) }}">Edit</a>
			</div>
			{% endif %}
		</div>
		<div class="mdl-cell mdl-cell--1-col" style="float:right"></div>
	</div>
{% endblock %}